<%
const {tag, label, items, style} = locals
%>

<div class="cat-container <%= tag %>-cat-container style-<%= style %>">
  <h3><%= label %></h3>
  <ul class="<%= tag %>-cat-list">
    <% items.forEach((item) => {
      if (style === 'button') { %>
        <li data-<%= tag %>-id="<%= item.id %>">
          <a class="button btn-cat" href="<%= item.path %>"><%= item.prettyName %></a>
        </li>
      <% } else {
        const type = item.resourceType 
        const iconMap = {
          'text/html': 'file-o',
          document: 'file-o',
          folder: 'folder',
          image: 'picture-o',
          pdf: 'file-pdf-o',
          presentation: 'clone',
          spreadsheet: 'table',
          video: 'video-camera'
        }
        const iconName = iconMap[type] || 'external-link'
        const className = `fa-${iconName}` %>
        <li>
          <i class="fa foldericon <%= className %>" aria-hidden="true"></i>
          <a href="<%= item.path %>"><%= item.prettyName %></a>
        </li>
    <% }
    }) 

    if (tag === 'featured') { %>
      <li>
        <a class="button btn-homepage" href="/categories"><%- template('landing.viewAll') %></a>
      </li>
    <% } %>
  </ul>
</div>
